<ion-header>
  <ion-toolbar>
    <ion-title style="font-weight:bold; font-size:17px">Rating this influencer</ion-title>
    <ion-buttons fill="outline" color="dark" slot="end" (click)="dismiss()">
			<ion-icon style="font-weight:bold" name="close-outline"></ion-icon>
		</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<p style="padding-left: 10px;" >Have you work before with this Influencer? How would you rate your experience?</p>

<!-- <ion-range color="danger" pin="true"></ion-range> -->
</ion-content>
