<!-- <ion-header>
	<ion-toolbar>
    <p style="padding-left: 5px; font-weight: bold;">Notes</p>
    <ion-buttons fill="outline" color="dark" slot="end" (click)="dismiss()">
			<ion-icon name="close-outline"></ion-icon>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
  -->
  <ion-content>
    <ion-item style="margin-left: -20px;">
      <p style="padding-left: 20px; font-weight: bold;">Notes</p>
      <ion-buttons fill="outline" color="dark" slot="end" (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-buttons>
    </ion-item>
    <p style=" padding-left: 10px;padding-right: 10px;">
      <ion-icon style="color: cornflowerblue;" name="information-circle"></ion-icon>
      Add notes on this influencer (i.e. notes about past collaborations)  </p> 
     <ion-item lines="none" style="border: 1px solid black; margin: 9px;">
        <ion-textarea placeholder="Write notes" rows="4"></ion-textarea>
     </ion-item>
     <ion-button size="small" (click)="dismiss()" >Save</ion-button>
  </ion-content>